* {
  font-size: 14px;
  font-family: monospace;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #74BAD8;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  background-color: #4D9FC2;
  height: 50px;
}

.page_width_limit {
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
}

.navbar {
  display: flex;
  margin: 20px 0;
}
.navbar button {
  flex: 1;
  margin: 0 5px;
  font-size: 20px;
  color: #fff;
  background-color: #0F719B;
  border: none;
  border-radius: 5px;
  height: 40px;
}
.navbar button.active {
  background-color: #74BAD8;
}

hr {
  width: 93%;
  height: 2px;
  border: none;
  background-color: #4DD182;
  margin: 0 auto;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.pagination .arrow {
  background-image: url("../Image/arrow.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 15px;
  height: 15px;
}
.pagination .arrow.disabled {
  opacity: 0.2;
}
.pagination .arrow.prev {
  transform: rotate(180deg);
}
.pagination .page {
  color: #d7d7d7;
  font-size: 17px;
  padding: 0px 10px;
}
.pagination .page.active {
  color: #000;
}

.popup {
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5215686275);
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty_data {
  background-image: url("../Image/empty_data.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 80px;
  height: 80px;
  margin: 50px auto 0 auto;
}

.loading {
  background-image: url("../Image/loading.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 80px;
  height: 80px;
  margin: 50px auto 0 auto;
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(720deg);
  }
}
.page {
  height: calc(100% - 132px);
  padding: 20px 10px;
}
.page .border_box {
  border: 2px solid #4D9FC2;
  border-radius: 5px;
  overflow: hidden;
}
.page .border_box .title {
  height: 40px;
  font-size: 20px;
  color: #fff;
  background-color: #4D9FC2;
  padding-left: 10px;
  display: flex;
  align-items: center;
}
.page .border_box .content {
  padding: 10px;
}
.page .border_box .content .confirm {
  font-size: 20px;
  color: #fff;
  background-color: #0F719B;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 40px;
}
.page .border_box .content .compose-input {
  display: flex;
  align-items: center;
  position: relative;
}
.page .border_box .content .compose-input p {
  font-size: 20px;
  margin-right: 15px;
}
.page .border_box .content .compose-input input {
  border: 1px solid #4D9FC2;
  border-radius: 5px;
  height: 35px;
  padding: 0 10px;
  font-size: 20px;
  width: 100%;
  flex: 1;
  color: #000;
}
.page .border_box .content .compose-input input:disabled {
  background: #d3e7ef;
  color: #000;
}
.page .border_box .content .compose-input.password input {
  padding-right: 40px;
}
.page .border_box .content .compose-input.password .eye {
  height: 28px;
  width: 28px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 5px;
}
.page .border_box .content .compose-input.password .eye.open {
  background-image: url(./../Image/eye_open.svg);
}
.page .border_box .content .compose-input.password .eye.close {
  background-image: url(./../Image/eye_close.svg);
}
.page .home .wallet {
  margin-bottom: 20px;
}
.page .home .wallet.border_box .content {
  padding: 10px;
}
.page .home .wallet.border_box .content hr {
  margin: 0px auto;
  width: 100%;
}
.page .home .wallet.border_box .content .compose-input button {
  margin: 0 3px;
  font-size: 14px;
  color: #fff;
  background-color: #0F719B;
  border: none;
  border-radius: 5px;
  padding: 5px 13px;
}
.page .home .wallet.border_box .content .compose-input button.active {
  background-color: #74BAD8;
}
.page .expense_item {
  height: calc(100% - 10px);
}
.page .expense_item .border_box {
  height: 100%;
}
.page .expense_item .border_box .content .compose-input p {
  font-size: 14px;
}
.page .expense_item .border_box .content .compose-input input {
  font-size: 14px;
  height: 30px;
}
.page .expense_item .border_box .content .action_box {
  display: flex;
}
.page .expense_item .border_box .content .action_box .update,
.page .expense_item .border_box .content .action_box .delete,
.page .expense_item .border_box .content .action_box .confirm,
.page .expense_item .border_box .content .action_box .close {
  flex: 1;
  font-size: 20px;
  color: #fff;
  background-color: #0F719B;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 40px;
}
.page .expense_item .border_box .content .action_box .update,
.page .expense_item .border_box .content .action_box .confirm {
  margin-right: 5px;
}
.page .expense_item .border_box .content .action_box .delete,
.page .expense_item .border_box .content .action_box .close {
  margin-left: 5px;
  color: #0F719B;
  background-color: #fff;
  border: 2px solid #0F719B;
}
.page .expense_item .expense_item_list {
  padding: 10px;
  height: calc(100% - 40px);
  overflow-y: scroll;
}
.page .expense_item .expense_item_list div:nth-child(even) .border_box {
  border-color: #4DD182;
}
.page .operation_record {
  height: calc(100% - 40px);
}
.page .operation_record .border_box {
  height: 100%;
}
.page .operation_record .border_box .compose-input p {
  font-size: 14px;
}
.page .operation_record .border_box .compose-input input {
  font-size: 14px;
  height: 30px;
}
.page .operation_record .operation_record_list {
  padding: 10px;
  height: calc(100% - 40px);
  overflow-y: scroll;
}
.page .operation_record .operation_record_list div:nth-child(even) .border_box {
  border-color: #4DD182;
}

.login {
  height: 100%;
  padding: 0;
  background-color: #74BAD8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login hr {
  margin: 15px auto;
}
.login .border_box {
  background-color: #fff;
  border-radius: 8px;
}
.login .border_box .title {
  padding-top: 10px;
  height: auto;
  font-size: 30px;
  color: #4D9FC2;
  background-color: #fff;
  justify-content: center;
}
.login .border_box .content {
  background-color: #fff;
}
.login .border_box .content .confirm {
  height: 50px;
}/*# sourceMappingURL=style.css.map */